<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Jutz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div class="container-fluid text-white bg-primary pt-5 pb-2 mb-5 rounded-bottom">
        <h1 class="fw-bold">Noah Jutz</h1>
    </div>
    <div id="projects-container" class="container">
        <div v-for="project in projects" class="card p-3 mb-3">
            <div class="row row-cols-auto">
                <div class="col">
                    <img :src="project.icon" class="rounded-3" width="60em" />
                </div>
                <div class="col">
                    <h5 class="card-title">{{ project.name }}</h1>
                    <p class="card-text">{{ project.description }}</p>
                    <a :href="project.web_url" class="btn btn-primary">See more</a>
                    <a :href="project.source_url" class="btn btn-secondary">Source Code</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>

</body>

</html>