@font-face {
    font-family: Roboto;
    src: url(roboto.ttf);
}

@font-face {
    font-family: RobotoSlabBold;
    src: url(roboto_slab_bold.ttf);
}

@font-face {
    font-family: RobotoSlabLight;
    src: url(roboto_slab_light.ttf);
}

* {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1.3em;
}

.gradient-text {
    background: -webkit-linear-gradient(top right, #673ab7ff, #f44336ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 3em;
    font-family: "RobotoSlabBold", sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
    font-family: "RobotoSlabLight", sans-serif;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 0;
}

body {
    margin: 0;
}

header {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-image: url(assets/backdrop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

footer {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

a {
    text-decoration: none;
}

article img {
    border-radius: 0.5rem;
    filter: drop-shadow(0 0.3rem 1.2rem rgba(0, 0, 0, 0.2));
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

article:nth-child(even) {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.03);
}

article>* {
    width: 50%;
    max-width: 30rem;
}

article:nth-child(even)>*:nth-child(1) {
    margin-left: 3rem;
}

article:nth-child(odd)>*:nth-child(1) {
    margin-right: 3rem;
}

@media (max-width: 800px) {
    article {
        flex-direction: column;
    }
    article:nth-child(even) {
        flex-direction: column;
    }
    article>* {
        width: 100%;
        margin: 0 !important;
    }
}