<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mc.djutz.com</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <header id="header">
        <h1>mc.djutz.com</h1>
        <h4>Fabric Minecraft Server</h4>

        <div class="status" v-if="online">
            <span class="material-icons">done</span>
            <p>Status: online!</p>
        </div>
        <div class="status" v-else>
            <span class="material-icons">close</span>
            <p>Status: offline :(</p>
        </div>
    </header>

    <main id="mods">
        <article>
            <h3>Dependencies</h3>
            <ul>
                <li v-for="mod in modsDependency">
                    <a :href="mod.url">
                        {{ mod.name }}
                        <span class="material-icons">launch</span>
                    </a>
                </li>
            </ul>
        </article>
        <article>
            <h3>Utility Mods</h3>
            <ul>
                <li v-for="mod in modsUtility">
                    <a :href="mod.url">
                        {{ mod.name }}
                        <span class="material-icons">launch</span>
                    </a>
                </li>
            </ul>
        </article>
        <article>
            <h3>Performance Mods</h3>
            <ul>
                <li v-for="mod in modsPerformance">
                    <a :href="mod.url">
                        {{ mod.name }}
                        <span class="material-icons">launch</span>
                    </a>
                </li>
            </ul>
        </article>
    </main>
    <script src="index.js"></script>
</body>

</html>