body {
    margin: 2rem;
    padding: 0;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

main>article {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

main>article>h3 {
    padding: 2rem;
    background-color: #4CAF50;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

main>article>ul {
    padding: 2rem;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:last-child {
    margin-bottom: 0;
}

li::marker {
    content: ""
}

.status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-icons {
    color: rgba(255, 255, 255, 0.5);
}

a>span.material-icons {
    padding-left: 2rem;
}

@media screen and (max-width: 900px) {
    main>article {
        width: 100%;
    }
}